DJANGO_SECRET_KEY=django-insecure-8opn97hpmzx#8d$ukbl&&0f9w5$&)=5q^i&uk%wk2^e86bga0u
DEBUG=True

# Database Configuration
DB_NAME=gms_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5431

# Email Configuration
EMAIL_HOST_USER=pratikkhanalji@gmail.com
EMAIL_HOST_PASSWORD=qvlbzynhdqzfcolp
